@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

span {
    color: #D80032;
}

h1 {
    margin-bottom: 50px;
    color:#D80032;
}

h4 {
    margin-bottom: 30px;
    font-size: 1rem;
}

img {
    border-radius: 25px
}

.btn {
    background-color: #D80032;
}

.section_div {
    margin: 5px;
    border-radius: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F9DEC9;
}

.blank_div {
    border-style: solid;
    border-color: #F9DEC9;
    background-color: white;
}

.linkedin_link {
    text-decoration:none;
}

#prof_summary {
    font-weight: 500;
}